.image{
    height: 200px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.image:hover{
    height: 250px ;
    
}
.img-hover-zoom {
    overflow: hidden;
    border-radius: 20px;
    height: 53vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .img-hover-zoom1 {
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  @media only screen and (max-width: 768px) and (max-width: 1024px) and (max-width: 1366px){
    .img-hover-zoom {
      overflow: hidden;
      border-radius: 20px;
      height: 75%;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .profile{
      height: auto;
      width: 100%;
    }
  }
.img-hover-zoom .profile{
    transition: transform .8s ease;
  }  
.img-hover-zoom:hover .profile{
    transform: scale(1.20);
}
.parallax{
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 500px;
}
.mission{
  background-image: url(./images/mission.jpg);
}
.vision{
  background-image: url(./images/vision2.jpg);
}
.box{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.box1{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.box:hover{
  border-top-right-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.02);
}
.imgbox{
  border-radius: 10px;
}
.imgbox:hover{
  transition: 0.5s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.owl-theme-custom{
  border: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;
  width: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.owl-theme-custom:hover{}
.item{
  height: auto;
}
.quote{
  text-decoration-line: underline;
  color: black;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 3vh;
  padding: 10px;
}
.contacts{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 25px;
  border-radius: 10px;
  margin-top: 7%;
  margin-bottom: 5%;
}
.contacts:hover{
  transition: 0.5s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.04);
}
.membername{
   background-image: linear-gradient(135deg, #673AB7 0%, #512DA8 100%);
}
.phrase{
  text-align: center;
  position: absolute;
  top: 42%;
  left: 75%;
  transform: translate(-50%,-50%);
}
/*.phrase span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 15px;
  color: black;
}*/

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.bgimg{
  background-image: url('./images/ourpresence1.jpg');
  background-size: cover;
}
.servicesbgimg{
  background-image: url('./images/healthservicesjpg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.icon1{
  font-size: 40px;
}
.icon:hover{
  transform: scale(1.25);
  transition: 0.5s;
}
.holder{
  width: 100vw;
  height:100vh;
  position:relative
}
.holder-min{
  width: 60vw;
  height:100vh;
  position:relative
}
.holder-min{
  width: 60vw;
  height:100vh;
  position:relative
}
.bar{
  position:absolute;
  top:350px;
  left:18vw;
  width:400px;
  height:40px;
  }
.bar2{
    position:absolute;
    top:520px;
    left:23vw;
    width:400px;
    height:40px;
  }
.bar3{
    position:absolute;
    top:450px;
    left:58vw;
    width:400px;
    height:40px;
  }
.bar4{
    position:absolute;
    top:540px;
    left:53vw;
    width:400px;
    height:40px;
  }
.bar5{
    position:absolute;
    top:300px;
    left:65vw;
    width:400px;
    height:40px;
  }    
  .bar-min-landscape{
    position:absolute;
    top:135px;
    left:6vw;
    width:200px;
    height:40px;
    }
    .stats-min{
      width: 150px;
      color: black;
      font-family: 'Quicksand', sans-serif;
      font-size: 2vw;
      padding: 2px;
      border-radius: 5px;
      background-image: linear-gradient(45deg, #fddb92 0%, #d1fdff 100%);
    }
  .stats{
    width: 250px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fddb92 0%, #d1fdff 100%);
  }
  .stats:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  .bar-min{
    position:absolute;
    bottom:500px;
    left:18vw;
    height:40px;  
  }  